<html lang="en-US" ng-app = "phonebookApp">
	<head>
		<meta charset = "utf-8" />
      <title>Phonebook (Test ver 0.0.1)</title>
      <link href="css/reset.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/styles.css" rel="stylesheet">
   </head>
<body >
<div id="wrapper" >
   <div class="container-fluid" ng-controller = "phonebookCtrl as phonebook" >
   <h3>PhoneBook List</h3>
   {{phonebookCtrl.title}}

<div id="menu" class="row">
   <div class="col-sm-3 col-md-2 sidebar">
      <form class="navbar-form navbar-left">
      <input type="text" class="form-control" placeholder="Search..." ng-model="phonebookApp.searchQuery">
      </form>
   </div>
   <div class="col-sm-3 col-md-2 sidebar">
      <form class="navbar-form navbar-left">
      <select ng-model="phonebookApp.search.group" class="form-control">
         <option value="">-Select Group -</option>
         <option value="VIP">VIP</option>
         <option value="Work">Work</option>
         <option value="Friends">Friends</option>
         <option value="Family">Family</option>
      </select>
      </form>
   </div>
   <div class="col-sm-3 col-md-2 sidebar">
      <form class="navbar-form navbar-left">
      <select ng-model="phonebookApp.search.enable" class="form-control">
         <option value="">-Select Status -</option>
         <option value="true">Enable</option>
         <option value="false">Disable</option>
      </select>
      </form>
   </div>
   <div class="col-sm-3 col-md-2 sidebar">
      <form class="navbar-form navbar-left">
      <button type="button" class="btn btn-success" ng-click="phonebook.openModalAdd(book)">Add New</button>
      </form>
   </div>

</div>

<table class="table table-striped table-hover">
  <thead><tr>
    <th><a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">
          ID <span ng-show="orderByField == 'id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th></th>
    <th><a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
          Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th><a href="#" ng-click="orderByField='phone'; reverseSort = !reverseSort">
          Phone Number <span ng-show="orderByField == 'phone'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th><a href="#" ng-click="orderByField='group'; reverseSort = !reverseSort">
          Group <span ng-show="orderByField == 'group'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th><a href="#" ng-click="orderByField='email'; reverseSort = !reverseSort">
          Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th><a href="#" ng-click="orderByField='enable'; reverseSort = !reverseSort">
          Enable <span ng-show="orderByField == 'enable'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a></th>
    <th>Edit</th>
    <th>Delete</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="book in phonebook.phonebookList |orderBy:orderByField:reverseSort | filter: phonebookApp.searchQuery | filter: phonebookApp.search.group | filter: phonebookApp.search.enable">
    <td>{{book.id}}</td>
    <td><img ng-src="{{book.image.thumb}}" class='thumb'/></td>
    <td>{{book.name}}</td>
    <td>{{book.phone}}</td>
    <td>{{book.group}}</td>
    <td>{{book.email}}</td>
    <td>{{book.enable}}</td>
    <td>
      <button type="button" class="btn btn-info" ng-click="phonebook.openModalEdit($index,book)">Edit</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="phonebook.openModalDelete(book)">Delete</button>
    </td>
    </tr></tbody>
</table>

</div>

</div>


  </body>
  
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>

   <script src="js/lib/bootstrap.js"></script>
   <script src="js/lib/angular.js"></script>
   <script src="js/lib/ui-bootstrap-tpls.min.js"></script>
   <script src="js/phonebookApp.js" type="text/javascript" charset="utf-8" ></script>
   <script src="js/book/phonebookEdit.service.js" type="text/javascript" charset="utf-8" ></script>
   <script src="js/book/phonebookCtrl.controller.js" type="text/javascript" charset="utf-8" ></script>
   <script src="js/book/phonebookEdit.controller.js" type="text/javascript" charset="utf-8" ></script>
   

   </body>
</html>