﻿<div class="modal-header">
    <h3 class="modal-title">Please confirm delete</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="del_book.delete()">Delete</button>
    <button class="btn btn-default" ng-click="del_book.cancel()">Cancel</button>
</div>