﻿<div class="modal-header">
    <h3 class="modal-title">Edit PhoneBook "{{new_book11.book.name}} "</h3>
</div>
<div class="modal-body">
    <form>
        <div class="formEditBook">
            <label for="bookId">ID</label>
            <input id="bookId" class="form-control" type="text" ng-model="new_book11.book.id" readonly>
        </div>
        <div class="formEditBook">
            <label for="bookName">Name</label>
            <input id="bookName" class="form-control" type="text"  ng-model="new_book11.book.name">
        </div>
        <div class="formEditBook">
            <label for="bookEmail">Email</label>
            <input id="bookEmail" class="form-control" type="text"  ng-model="new_book11.book.email">
        </div>
        <div class="formEditBook">
            <label for="bookPhone">Phone</label>
            <input id="bookPhone" class="form-control" type="text"  ng-model="new_book11.book.phone">
        </div>
        <div class="formEditGroup">
            <label for="bookGroup">Name</label>
            <input id="bookGroup" class="form-control" type="text"  ng-model="new_book11.book.group">
        </div>
        <div class="formEditEnable">
            <label for="bookEnable">Enable</label>
            <input id="bookEnable" class="form-control" type="checkbox"  ng-model="new_book11.book.enable" ng-checked="new_book11.book.enable"
            ng-true-value=true ng-false-value=false>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="new_book11.ok()">Ok</button>
    <button class="btn btn-default" ng-click="new_book11.cancel()">Cancel</button>
</div>